/* root */
:root{
    --primary: #000000;
    --secondary: #FFFFFF;
    --button_color: #d9d9d9;
    --nav_grayed: #808080;
    --nav_selected: #bfbfbf;
    --table_text: #404040;
}




/* reset */
body,p,a,ul,li,h1{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}



/*base styles */
body{
    background-color: var(--secondary);
    overflow-x: hidden;
    font-family: 'Inter Medium';
    padding-top: 118.95px;
}
.button{
    background: var(--button_color);
}
form #search{
    border: none;
}
form #search:focus{
    outline: none;
}




/* fonts */
@font-face {
    font-family: "Inter Medium";
    src: url("assets/fonts/Inter-Medium.ttf");
}
@font-face {
    font-family: "Inter SemiBold";
    src: url("assets/fonts/Inter-SemiBold.ttf");
}
p,a,::placeholder{
    color: #000000;
    font-size: 1.2em;
    font-family: "Inter Medium";
}





/* mobile styles */
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.site-nav{
    width: 100%;
    background: var(--secondary);
    position: fixed;
    top: 0px;
}
.site-nav a{
    grid-column: 1/2;
}
.site-nav a img{
    width: 2.8em;
    height: 2.8em;
}
.site-nav p{
    grid-column: 2/9;
    white-space: nowrap;
    margin: auto auto;
    font-family: 'Inter SemiBold';
    margin-left: calc(50% - 20px);
    transform: translateX(-50%);

}


/* small tablet styles */
@media screen and (min-width: 620px){

}

/* Large tablets and laptops styles */
@media screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
}